.bottom_bar{
    color: white;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    padding-top:10px;
    padding-bottom: 10px;
    z-index: -1;
}

.bottom_bar_text{
    float: left;
    margin: auto;
    margin-left: 20px;
}

.bottom_bar_text_right{
    float: right;
    margin: auto;
    margin-right: 20px;
}