.document_view {
  margin: 0;
  padding: 20px;
  background-color: #f2efee;
  border-radius: 0;
}

.list{
  margin-top: 40px;
  text-align: center;
}

.list_item{
  margin-bottom: 10px;
  list-style-type: none;
}

.file{
  color: black !important;
  font-size: 24px;
}

@media (min-width: 768px) {
  .document_view {
    margin: 60px 15vw;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgb(0 0 0 / 0.15);
  }
}
