.nav_bar{
    color: white;
    background-color: darkslateblue;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 35px;
}

.nav_bar_title{
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    font-weight: bold;
    font-size: 20px;
}

.nav_bar_item{
    margin-left: 20px;
    padding: 0px;
    padding-top: 2px;
    padding-bottom: 5px;
    float: right;
    font-size: 20px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.nav_bar_item:hover{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.nav_bar_menu{
    margin-right: 40px;
    float: right;
}