.nav_bar{
    color: white;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 35px;
}

.nav_bar_title{
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 26px;
}

.nav_bar_item{
    margin-left: 30px;
    margin-right: 30px;
    padding: 0px;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 26px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.nav_bar_item:hover{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.nav_bar_menu{
    margin-right: auto;
}