.question_item{
    margin:auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.question_image{
    max-width: 600px;
    max-height: 300px;
}

.question_content{
    font-weight: bold;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.answer{
    font-size: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    text-align: justify;
    background-color: rgb(255,255,255,0.3);
    border: 3px solid transparent;
}

.answer:hover{
    border: 3px solid white;
}

.answer_button{
    margin: 2px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 28px;
}

.answer:nth-child(1) .answer_button{
    background-color: chocolate;
    border-radius: 20px;
    width: 38px;
}

.answer:nth-child(2) .answer_button{
    background-color: peru;
    border-radius: 20px;
    width: 38px;
}

.answer:nth-child(3) .answer_button{
    background-color: darkgoldenrod;
    border-radius: 20px;
    width: 38px;
}

.answer:nth-child(4) .answer_button{
    background-color: goldenrod;
    border-radius: 20px;
    width: 38px;
}
