.question_view {
  margin: 0;
  padding: 20px;
  background-color: #f2efee;
  border-radius: 0;
}

.question_view .question_item {
  padding: 0;
  border: 0;
}

.button_style {
  align-items: center;
  background-color: #f18805;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 20px;
}

.button_style:active,
.button_style:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button_style {
    font-size: 24px;
    min-width: 196px;
  }

  .question_view {
    margin: 60px 15vw;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgb(0 0 0 / 0.15);
  }
}
