.result_bar{
    background-color: tomato;
    margin:10px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

a {
    color: white;
    text-decoration: none;
}