.test_view{
    margin: 100px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background: rgb(253,183,29);
    background: linear-gradient(90deg, rgba(253,183,29,1) 50%, rgba(252,127,69,1) 100%);
    box-shadow: 0 8px 10px rgb(0 0 0 / 0.7);
    border-radius: 20px;
}

.test{
    margin-top: 40px;
}

.button_style {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button_style:active,
.button_style:hover {
  outline: 0;
  box-shadow: 0 8px 10px rgb(0 0 0 / 0.7);
}

@media (min-width: 768px) {
  .button_style {
    font-size: 24px;
    min-width: 196px;
  }
}