.test_view {
  margin: 0;
  padding: 20px;
  background-color: #f2efee;
  border-radius: 0;
}

.test {
  margin-top: 40px;
}

.button_style {
  align-items: center;
  background-image: linear-gradient(to right bottom, #f9d271, #fe766c);
  border: 0;
  border-radius: 2.4rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button_style:active,
.button_style:hover {
  outline: 0;
  transform: scale(1.05);
}

.welcome_text {
  padding: 0 4vw;
}

@media (min-width: 768px) {
  .button_style {
    font-size: 24px;
    min-width: 196px;
  }

  .welcome_text {
    padding: 0 8vw;
  }

  .test_view {
    margin: 60px 15vw;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgb(0 0 0 / 0.15);
  }
}
