.welcome{
    font-size: 16px;
}

.welcome_hide{
    display: none;
}

@media (max-width: 700px){
    .welcome_hide {
        position: relative;
        right: -190px;
        top: -10px;
        font-size: 23px;
        display: block;
    }
}

@media (min-width: 706px) {
    .welcome{
        font-size: 18px;
    }
}

@media (min-width: 946px) {
    .welcome{
        font-size: 20px;
    }
}

.warning{
    color:orangered;
    font-size: 1.2em;
}